
<!DOCTYPE html>
  <html>
  <head>
    <title></title>
    <style type="text/css">
    	.container{
    		margin-left: 400px;
    		padding-top:  50px;
    	}
    	h4{
          text-align: center;
          padding-top: 30px;
          color: #2980B9;
    	}
    </style>
  </head>
<body>
  
	 <h4><%= t 'workspaces.edit.editworkspace' %></h4>
    <div class="container">
    <%= render 'edit_form', workspace: @workspace %>
    </div>
</body>
</html>
