//channel show
  .dropbtn {
      background-color: blue;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 120px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 6px 10px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {background-color: #f1f1f1}

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }

 //channel form

   .ws{

          width: 300px;

          margin-top: 20px;

          border: 2px solid blue;

   }

 //channel Edit

   .chEdit{
               font-size: 30px;
               text-align: center;
            }
    .form{
            /*border: 2px solid skyblue;
            border-radius: 4px;*/
            height: 200px;
            width: 50%;
            
    
            margin-right: 500px;
            margin-left: 500px;
            padding-left: 100px;
             padding-top: 50px;

          }

//channel New

        .chCreate{
               font-size: 30px;
               text-align: center;
            }
        .form{
                border: 2px solid skyblue;
                border-radius: 4px;
                height: 300px;
                width: 50%;
                margin-top: 50px;
        
                margin-right: 400px;
                margin-left: 400px;
                padding-left: 80px;
                 padding-top: 50px;

              }
              .b{
                background-color: #e0ebeb;

            }

 //workspace Edit

	  .wsEdit{
	               font-size: 30px;
	               text-align: center;
	            }
        .form{
                border: 2px solid skyblue;
                border-radius: 4px;
                height: 200px;
                width: 50%;
                margin-top: 50px;
        
                margin-right: 400px;
                margin-left: 400px;
                padding-left: 80px;
                 padding-top: 50px;

              }
              .workspace{
                background-color: #e0ebeb;

            }

 //workspace Show

			/* Fixed sidenav, full height */
			.sidenav {
			  height: 100%;
			  width: 200px;
			  position: fixed;
			  z-index: 1;
			  top: 0;
			  left: 0;
			  background-color:   #135;
			  overflow-x: hidden;
			  padding-top: 20px;
			}

			/* Style the sidenav links and the dropdown button */
			.sidenav a, .dropdown-btn {
			  padding: 6px 8px 6px 16px;
			  text-decoration: none;
			  font-size: 20px;
			  color: #f1f1f1;
			  display: block;
			  border: none;
			  background: none;
			  width: 100%;
			  text-align: left;
			  cursor: pointer;
			  outline: none;
			}

			/* On mouse-over */
			.sidenav a:hover, .dropdown-btn:hover {
			  color: #f1f1f1;
			}

			/* Main content */
			.main {
			  margin-left: 200px; /* Same as the width of the sidenav */
			  font-size: 20px; /* Increased text to enable scrolling */
			  padding: 0px 10px;
			}

			/* Add an active class to the active dropdown button */
			.active {
			  background-color: grey;
			  color: white;
			}

			/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
			.dropdown-container {
			  display: none;
			  background-color: #262626;
			  padding-left: 8px;
			}

			/* Optional: Style the caret down icon */
			.fa-caret-down {
			  float: right;
			  padding-right: 8px;
			}

			/* Some media queries for responsiveness */
			@media screen and (max-height: 450px) {
			  .sidenav {padding-top: 15px;}
			  .sidenav a {font-size: 18px;}
			}

//session new

//NavBar

.topnav{
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
}
.navbar-link {
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 20px;
 color: grey;
}
.list{
 float: left;
}

//layout navbar
